In [33]:
# Using this copletely different data set 
# https://www.kaggle.com/colearninglounge/predicting-pulsar-starintermediate
# use the neural networks trained with different dataset to predict this different dataset

import pandas as pd
data_frame = pd.read_csv('LOTAAS_1_Lyon_features.csv')
data_frame.dropna(inplace=True)
data_frame.head()
#data_frame.to_csv('cleaned_up_data_2.csv', index=False)

     41.2  29.689  4.2447   29.453   2.0219    1.5153   1.6696  4.7049  1
0  53.774  54.100  2.1297   7.1286  15.2040   5.47530  0.11118  2.0363  1
1  97.798  43.795  1.1265   5.7405   1.2806   0.16944 -0.26220  2.6014  1
2  33.650  32.263  5.2729  34.2830   8.7300  10.08200  1.76020  5.1260  1
3  35.146  44.320  3.8634  17.7720   9.6760   6.59750  1.04610  2.9416  1
4  30.374  37.770  4.7040  26.7250   9.5384   8.08140  1.30420  3.5805  1

In [34]:
data_frame.columns =['Mean of Int. Prof.', 'Stand. Deviation of Int. Prof.', 
                     'Excess Kurtosis of Int. Prof.', 'Skewness of Int. Prof.',
                     'Mean of Curve', ' Stand. Deviation of Curve', 'Excess Kurtosis of Curve',
                     'Skewness of Curve', 'Class']
data_frame.head()

,Mean of Int. Prof.,Stand. Deviation of Int. Prof.,Excess Kurtosis of Int. Prof.,Skewness of Int. Prof.,Mean of Curve,Stand. Deviation of Curve,Excess Kurtosis of Curve,Skewness of Curve,Class
0,53.774,54.100,2.1297,7.1286,15.2040,5.47530,0.11118,2.0363,1
1,97.798,43.795,1.1265,5.7405,1.2806,0.16944,-0.26220,2.6014,1
2,33.650,32.263,5.2729,34.2830,8.7300,10.08200,1.76020,5.1260,1
3,35.146,44.320,3.8634,17.7720,9.6760,6.59750,1.04610,2.9416,1
4,30.374,37.770,4.7040,26.7250,9.5384,8.08140,1.30420,3.5805,1

In [35]:
data_frame2 = pd.read_csv('HTRU_1_Lyon_Features.csv')
data_frame2.dropna(inplace=True)
data_frame2.head()

,80.6875,45.5918972379,1.6127985563,3.77336723,82.6082737487,40.7533243053,1.0298245663,1.670703855,1
0,32.406250,42.527094,3.887236,15.145756,93.289926,53.893230,0.559385,-0.059583,1
1,63.796875,39.573973,2.488179,9.604414,63.482345,31.549491,1.576466,4.072761,1
2,44.390625,48.187335,2.753744,7.143531,81.582268,57.610700,0.508915,-0.437081,1
3,39.390625,38.154135,4.209383,19.437804,72.168797,42.518177,1.009401,0.854311,1
4,79.187500,36.866683,1.902392,7.387106,81.858512,46.586141,0.720185,-0.045667,1

In [36]:
data_frame2.columns =['Mean of Int. Prof.', 'Stand. Deviation of Int. Prof.', 
                     'Excess Kurtosis of Int. Prof.', 'Skewness of Int. Prof.',
                     'Mean of Curve', ' Stand. Deviation of Curve', 'Excess Kurtosis of Curve',
                     'Skewness of Curve', 'Class']
data_frame2.head()

,Mean of Int. Prof.,Stand. Deviation of Int. Prof.,Excess Kurtosis of Int. Prof.,Skewness of Int. Prof.,Mean of Curve,Stand. Deviation of Curve,Excess Kurtosis of Curve,Skewness of Curve,Class
0,32.406250,42.527094,3.887236,15.145756,93.289926,53.893230,0.559385,-0.059583,1
1,63.796875,39.573973,2.488179,9.604414,63.482345,31.549491,1.576466,4.072761,1
2,44.390625,48.187335,2.753744,7.143531,81.582268,57.610700,0.508915,-0.437081,1
3,39.390625,38.154135,4.209383,19.437804,72.168797,42.518177,1.009401,0.854311,1
4,79.187500,36.866683,1.902392,7.387106,81.858512,46.586141,0.720185,-0.045667,1

In [37]:
# get the pickled datasets 
import pickle
with open('gridsearch1.pkl', 'rb') as f1:
    gridsearch1 = pickle.load(f1)
with open('gridsearch2.pkl', 'rb') as f2:
    gridsearch2 = pickle.load(f2)
with open('worst_model.pkl', 'rb') as f3:
    worst_model = pickle.load(f3)

In [38]:
x = data_frame.drop(['Class'], axis=1, inplace=False)
x2 = data_frame2.drop(['Class'], axis=1, inplace=False)
y = data_frame['Class']
y2 = data_frame2['Class']
x.head()

,Mean of Int. Prof.,Stand. Deviation of Int. Prof.,Excess Kurtosis of Int. Prof.,Skewness of Int. Prof.,Mean of Curve,Stand. Deviation of Curve,Excess Kurtosis of Curve,Skewness of Curve
0,53.774,54.100,2.1297,7.1286,15.2040,5.47530,0.11118,2.0363
1,97.798,43.795,1.1265,5.7405,1.2806,0.16944,-0.26220,2.6014
2,33.650,32.263,5.2729,34.2830,8.7300,10.08200,1.76020,5.1260
3,35.146,44.320,3.8634,17.7720,9.6760,6.59750,1.04610,2.9416
4,30.374,37.770,4.7040,26.7250,9.5384,8.08140,1.30420,3.5805

In [39]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

In [40]:
x2.head()

,Mean of Int. Prof.,Stand. Deviation of Int. Prof.,Excess Kurtosis of Int. Prof.,Skewness of Int. Prof.,Mean of Curve,Stand. Deviation of Curve,Excess Kurtosis of Curve,Skewness of Curve
0,32.406250,42.527094,3.887236,15.145756,93.289926,53.893230,0.559385,-0.059583
1,63.796875,39.573973,2.488179,9.604414,63.482345,31.549491,1.576466,4.072761
2,44.390625,48.187335,2.753744,7.143531,81.582268,57.610700,0.508915,-0.437081
3,39.390625,38.154135,4.209383,19.437804,72.168797,42.518177,1.009401,0.854311
4,79.187500,36.866683,1.902392,7.387106,81.858512,46.586141,0.720185,-0.045667

In [41]:
y2.head()

0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

In [42]:
# predict with new data
# still around 98% accurate
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

print("FROM DATASET 1 (LOTAAS):")
y_predict = gridsearch1.predict(x)
print('Accuracy Score: ' + str(accuracy_score(y_predict, y)))
print('Confusion Matrix:\n' + str(confusion_matrix(y_predict, y)))
print('f1 Score: ' + str(f1_score(y_predict, y, average=None)))

print("\nFROM DATASET2 (HTRU1)")
y_predict2 = gridsearch1.predict(x2)
print('Accuracy Score: ' + str(accuracy_score(y_predict2, y2)))
print('Confusion Matrix:\n' + str(confusion_matrix(y_predict2, y2)))
print('f1 Score: ' + str(f1_score(y_predict2, y2, average=None)))

FROM DATASET 1 (LOTAAS):
Accuracy Score: 0.9962391132224862
Confusion Matrix:
[[4986   18]
 [   1   47]]
f1 Score: [0.99809829 0.83185841]

FROM DATASET2 (HTRU1)
Accuracy Score: 0.9950872344858593
Confusion Matrix:
[[89687   139]
 [  309  1056]]
f1 Score: [0.99750865 0.825     ]

In [43]:
# same thing but with gridsearch2 that was pickled
print("FROM DATASET 1 (LOTAAS):")
y_predict = gridsearch2.predict(x)
print('Accuracy Score: ' + str(accuracy_score(y_predict, y)))
print('Confusion Matrix:\n' + str(confusion_matrix(y_predict, y)))
print('f1 Score: ' + str(f1_score(y_predict, y, average=None)))

print("\nFROM DATASET2 (HTRU1)")
y_predict2 = gridsearch2.predict(x2)
print('Accuracy Score: ' + str(accuracy_score(y_predict2, y2)))
print('Confusion Matrix:\n' + str(confusion_matrix(y_predict2, y2)))
print('f1 Score: ' + str(f1_score(y_predict2, y2, average=None)))

FROM DATASET 1 (LOTAAS):
Accuracy Score: 0.9954473475851148
Confusion Matrix:
[[4986   22]
 [   1   43]]
f1 Score: [0.99769885 0.78899083]

FROM DATASET2 (HTRU1)
Accuracy Score: 0.9949556425524448
Confusion Matrix:
[[89669   133]
 [  327  1062]]
f1 Score: [0.99744157 0.82198142]

In [44]:
# same thing but with the worst NN model I created in gridsearch1 that was pickled

print("FROM DATASET 1 (LOTAAS):")
y_predict = worst_model.predict(x)
print('Accuracy Score: ' + str(accuracy_score(y_predict, y)))
print('Confusion Matrix:\n' + str(confusion_matrix(y_predict, y)))
print('f1 Score: ' + str(f1_score(y_predict, y, average=None)))

print("\nFROM DATASET2 (HTRU1)")
y_predict2 = worst_model.predict(x2)
print('Accuracy Score: ' + str(accuracy_score(y_predict2, y2)))
print('Confusion Matrix:\n' + str(confusion_matrix(y_predict2, y2)))
print('f1 Score: ' + str(f1_score(y_predict2, y2, average=None)))

FROM DATASET 1 (LOTAAS):
Accuracy Score: 0.9871338083927158
Confusion Matrix:
[[4987   65]
 [   0    0]]
f1 Score: [0.99352525 0.        ]

FROM DATASET2 (HTRU1)
Accuracy Score: 0.9868956366308078
Confusion Matrix:
[[89996  1195]
 [    0     0]]
f1 Score: [0.9934046 0.       ]